/*   Valores Globales   */
@font-face {
    font-family: 'EscapeFromTarkov';
    src: url(arc/WorkSans-Regular.ttf);
}
body{
    background: url(img/Background.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*{
    font-family: 'EscapeFromTarkov';
    scroll-behavior: smooth;
}
h2{
    font-size: 28px;
}





/*   Modificando Header   */
.header{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    color: #FFFFFF;
}
.header__img{
    width: 28%;
    filter: drop-shadow(0 0 5px #FFFFFF);
}





/*   Modificando Main   */
.main{
    line-height: 1.5;
    margin-top: 90px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}
.main__panel{
    padding: 40px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0000009F;
    text-align: center;
}
.main__panel-contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main__panel-contenedor-caja{
    margin: 20px;
    width: 120px;
    height: 120px;
    border: 2px solid #FFFFFF;
}
.main__panel-contenedor-caja-a{
    line-height: 1.5;
    padding: 20px;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 0 5px #000000;
}
.main__panel-contenedor-cajablur{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}





/*   Modificando Las Cajas   */
/*   Bases   */
#GruposDeCombate{
    background: url(img/Bases/Grupos-Combate.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#ModosDeJuego{
    background: url(img/Bases/Modos-Juego.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#ComoJugar{
    background: url(img/Bases/Como-Jugar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#MapaDeTarkov{
    background: url(img/Bases/Mapa-Tarkov.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#FechaDeLanzamiento{
    background: url(img/Bases/Fecha-Lanzamiento.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Requisitos{
    background: url(img/Bases/Requisitos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*   Sistemas   */
#Balistica{
    background: url(img/Sistemas/Balistica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Habilidades{
    background: url(img/Sistemas/Habilidades.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Personaje{
    background: url(img/Sistemas/Personaje.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#SistemaDeSalud{
    background: url(img/Sistemas/Sistema\ Salud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Refugio{
    background: url(img/Sistemas/Refugio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Saqueo{
    background: url(img/Sistemas/Saqueo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Misiones{
    background: url(img/Sistemas/Misiones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Comercio{
    background: url(img/Sistemas/Comercio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#MaestriaDeArmas{
    background: url(img/Sistemas/Maestria\ Armas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*   Equipamiento y Objetos   */
#Municion{
    background: url(img/EquipamientosObjetos/Municion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Armaduras{
    background: url(img/EquipamientosObjetos/Armaduras.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Mochilas{
    background: url(img/EquipamientosObjetos/Mochilas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Chalecos{
    background: url(img/EquipamientosObjetos/Chalecos\ Tacticos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Contenedores{
    background: url(img/EquipamientosObjetos/Contenedores.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Gafas{
    background: url(img/EquipamientosObjetos/Gafas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#CoberturaFacial{
    background: url(img/EquipamientosObjetos/Cobertura\ Facial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Auriculares{
    background: url(img/EquipamientosObjetos/Auriculares.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#AccesorioCabeza{
    background: url(img/EquipamientosObjetos/Accesorios\ Cabeza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#LlavesInteligencia{
    background: url(img/EquipamientosObjetos/Llaves\ Inteligencia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Botin{
    background: url(img/EquipamientosObjetos/Botin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Medicamentos{
    background: url(img/EquipamientosObjetos/Medicamentos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Proviciones{
    background: url(img/EquipamientosObjetos/Provisiones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#RopaTactica{
    background: url(img/EquipamientosObjetos/Ropa\ Tactica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#AccesoriosArma{
    background: url(img/EquipamientosObjetos/Accesorio\ Armas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Armas{
    background: url(img/EquipamientosObjetos/Armas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*   Facciones   */
#Bear{
    background: url(img/Facciones/Bear.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Usec{
    background: url(img/Facciones/Usec.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Scavs{
    background: url(img/Facciones/Scavs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#ScavRider{
    background: url(img/Facciones/Scav\ Rider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Cultistas{
    background: url(img/Facciones/Cultistas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#Rogues{
    background: url(img/Facciones/Rogues.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}





/*   Modificando Los Links De información   */
.main__SegundoContenido{
    padding: 40px;
    margin: 20px;
    width: 70%;
    text-align: center;
    background-color: #0000009F;
}
.main__SegundoContenido-ul-li{
    width: 200px;
    margin: 20px;
    display: inline-block;
}
.main__SegundoContenido-ul-li-a{
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}
.main__SegundoContenido-ul-li-a:hover{
    transition: text-shadow .4s;
    text-shadow: 0 0 5px #FFFFFF;
}





/*   Modificando Footer   */
.footer{
    line-height: 2.5;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}
.footer__p-a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer__p-a:hover{
    text-shadow: 0 0 10px #FFFFFF, 0 0 5px #FFFFFF;
}